/* Génral */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body > main {
    /* flex-grow: 1; */
    padding: 1ch;
}

h1 {
    text-align: center;
}

footer {
    text-align: center;
}
/* Nav */

nav > ul {
    display: flex;
    flex-direction: row;

    list-style: none;
    padding: 1rem 2ch;
    margin: 0;
    gap: 2ch;

    background-color: black;
}

nav a {
    color: whitesmoke;
    text-decoration: none;
    display: inline-block;
}

nav a:hover {
    transform: scale(1.1);
}

/* Article form */


form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.article-form {
    width: 50vh;
}

.article-form > div:not(:last-child){
    margin-bottom: 1ch;
}


.article-form > * {
    width: 100%;
    margin-bottom: 0.5ch;
}

.article-form > label {
    font-size: 1.1em;
    margin-bottom: 1ch;
}

.article-form > label::after{
    content: ':';
    margin-left: 0.3ch;
}

.article-form > input, .article-form > textarea {
    width: 100%;
    padding: 0.2ch;
    outline: none;
    border: 2px solid black;
    border-radius: 5px;
}

.article-form > input:focus, .article-form > textarea:focus {
    border-width: 2px;
}

.article-form> textarea {
    resize: none;
    min-height: 20em;
}

.article-form .error {
    color: crimson;
    font-style: oblique;
}